### 0.6. Variables and Operators

Variables are names that you can give to values in Python.  Here's an example:

In [1]:
pi = 3.141592

Once you assign a variable, you can use it wherever you could use the original value.  For instance:

In [2]:
# Area of circle of radius 10 cm
pi * 10**2

314.1592

Variables are just names: unlike in other languages, variables don't have a fixed type.  You can assign a new value of type `A` to a variable that used to hold a value of type `B`.  For instance:

In [3]:
pi = "the number pi"
"The answer is " + pi

'The answer is the number pi'

Values, on the other hand, **do** have a type.  You can find out what type that is by typing `type(`_value_`)`.  For example:

In [4]:
type(42)

int

In [5]:
type(2.0)

float

In [6]:
type("Hello world")

str

In [7]:
type(True)

bool

You can usually convert one type to another by using the target type name as a function, as follows:

In [84]:
int("42")

42

In [85]:
float("0.25")

0.25

In [86]:
str(123)

'123'

Operators act differently on different types.  Here are the standard math operators that you can use on Python numbers (`int` or `float`):
* `+`: addition
* `-`: subtraction
* `*`: multiplication
* `/`: division
* `%`: modulo
* `**`: exponentiation

Division is slightly tricky.  In Python 2 (what's installed in your laptops), division between integers truncates:

In [8]:
5 / 2

2

If you want floating point division, be sure to use floating point numbers.  Usually, just add a dot (`.`) at the end of one of the numbers:

In [9]:
5 / 2.

2.5

If you try to divide variables, you can make sure that they are floating point numbers by typing `float(`_variable_`)`:

In [10]:
a = 5
b = 2
a / b

2

In [11]:
float(a) / float(b)

2.5

If you **want** truncating division, use the `//` operator:

In [12]:
5.0 // 2.0

2.0

That's numbers.  The operators for strings work differently:
* `+`: concatenation (join two strings)
* `*`: repeat $n$ times
* `%`: format strings (more on this later)

Here are a few examples:

In [25]:
"Hello, " + "world!"

'Hello, world!'

In [26]:
"I am" + (" happy" * 3) + "!"

'I am happy happy happy!'

In [27]:
# Don't worry too much if the following isn't clear yet
a = 5
"The value of a is %d, and twice that is %d" % (a, 2*a)

'The value of a is 5, and twice that is 10'

The next set of useful operators involves **comparisons**:
* `==`: equals
* `!=`: not equals
* `<`: less than
* `<=`: less than or equals
* `>`: greater than
* `>=`: greather than or equals

Here are a few examples:

In [13]:
a = 5
b = 2

In [14]:
a == b

False

In [15]:
a != b

True

In [16]:
a < b

False

In [17]:
a >= b

True

**Ex 0.6.1. How would you test if the value in `a` is odd?**

There are a few common logical operators to combine conditions:
* `and`: both conditions have to be `True`
* `or`: either conditions has to be `True`
* `not`: negate the following condition

Here are a few examples:

In [19]:
2 < 5 and 5 < 10

True

In [20]:
2+2 == 5

False

In [21]:
not (2+2 == 5)

True

In [22]:
2+2 == 5 or 3+3 == 6

True

One useful trick in Python is that you can bracket numbers in inequalities, as follows:

In [23]:
a = 5
2 <= a < 10

True

In [24]:
8 <= a <= 15

False

Python has other operators that we'll meet as we go along.

### 0.7 Flow control

It's hard to build anything too interesting with basic operations alone.  Things get more interesting once we can ask our programs to take decisions and do things multiple times.

An `if` statement allows you to to one thing if a condition is `True`, something else if the condition is `False`:

In [29]:
a = 5
if (a % 2) == 1:
    description = "odd"
else:
    description = "even"

"a is an " + description + " number"

'a is an odd number'

Notice something very important above: **in Python, indentation matters!**  Blocks of code are marked by being indented by the same amount.  In the IPython notebook, you get a bit of help with indentation.  When writing your own code, pay attention.  And **always use spaces, never tabs**.

**Ex 0.7.1. Classify the variable `a` as either odd or, if even, a multiple of 4 or not**  
For example, 1 and 3 would be `"odd"`, 4 would be an `"even and a multiple of 4"` and 6 would be `"even but not a multiple of 4"`

You can chain one condition after another using `elif`:

In [31]:
a = 3
if a == 1:
    desc = "one"
elif a == 2:
    desc = "two"
else:
    desc = "a big number"

"a is " + desc

'a is a big number'

**Ex 0.7.2. Rewrite your solution to Ex 0.7.1 more concisely using `elif`**

It's also very useful to run the same code over and over until some condition is met.  You can do this with a `while` loop.  Here's one way of adding add the numbers from `1` to `10` (we'll see much better ways later)

In [33]:
total = 0
n = 1
while n <= 10:
    total = total + n
    n = n + 1

"The sum is " + str(total)     # Note: we can't add a string and a number.
                               # str(...) converts a number to a string

'The sum is 55'

**Ex 0.7.3. Write a loop to calculate `10! = 10 * 9 * 8 * ... * 1`**

Here's a more involved example.  Newton came up with neat algorithm for calculating the square root of a number $n$:
* Make a guess, e.g. $x = 1.0$
* If $x$ were correct, then `x*x == n`.  Otherwise, either `x` is too large and `n / x` is too small, or vice versa.  So make a new guess by taking the average: `(x + n / x) / 2`.
* Keep doing this until the difference between `x*x` and `n` is arbitarily small

**(!) Ex 0.7.4. Implement Newton's algorithm to find the square root of 2 to 5 decimal places**

So far, we've only ever shown the result of a calculation by writing some expression at the end of an IPython cell.  But it's very useful to see what's happening at intermediate steps.  For that, `print` is very useful.  Here's an example:

In [1]:
a = 2
print("a is " + str(a))
a = a + 1
print("a is now " + str(a))
a = a + 2

"a is finally " + str(a)

a is 2
a is now 3

'a is finally 5'

**(!) Ex 0.7.5. Modify your code for Newton's method to show the value of the guess after each iteration, as well as the total number of iterations**

Here's another example to practice looping.  A _Collatz sequence_ is formed by starting with any number `n` and then repeatedly doing the following:
* If `n` is 1, stop.
* If `n` is even, divide it by 2.
* If `n` is odd, multiply by 3 and add 1.

For example, the Collatz sequence for 10 is: 10, 5, 16, 8, 4, 2, 1.  
It is thought that all Collatz sequences are finite.

**(!) Ex 0.7.6. Write a loop to print out the Collatz sequence for any number `n`.  Try it for `n=13` and `n=25`.**

The other essential looping construct in Python is a `for` loop.  But to appreciate it its usefulness, we should talk about lists.

### 0.8. Lists

Lists represented sequences of values.  You build them by putting the elements between square brackets, separated by commas.  Here's an example:

In [2]:
fruits = ['apple', 'orange', 'pear']
type(fruits)

list

Given a list, we can access its individual values as follows:

In [3]:
fruits[0]   # Indices start at 0

'apple'

In [4]:
fruits[2]

'pear'

Negative indices can be used to count from the end instead of the beginning.  In particular, `fruits[-1]` is the last element of the list:

In [5]:
fruits[-1]

'pear'

You can get the length of a list with `len`:

In [6]:
len(fruits)

3

A list can be sorted with the `sorted` function:

In [7]:
sorted([5,1,8,6,2])

[1, 2, 5, 6, 8]

An empty list is written as a pair of square brackets with nothing in between:

In [8]:
emptylist = []
len(emptylist)

0

The most useful thing you can do with a list is to loop through all its elements.  You use a `for` loop for that:

In [9]:
for f in fruits:
    print(f)

apple
orange
pear

Lists are mutable: you can add elements, delete elements and change them as you wish.  Here are a few examples:

In [11]:
fruits[0] = 'banana'
print(fruits)

['banana', 'orange', 'pear']

In [12]:
fruits.append('kiwi')
fruits

['banana', 'orange', 'pear', 'kiwi']

In [63]:
del fruits[0]
fruits

['orange', 'pear', 'kiwi']

Another useful operation on a list is _slicing_, or extracting a sublist.  The general syntax is this:
```
sublist = biglist[start:end] # inclusive of start, exclusive of end
```
If you leave out `start`, the slice will start from the beginning of the list.  
If you leave out `end`, the slice will go all the way to the end of the list.  
Here are a few examples:

In [13]:
numbers = ['zero', 'one', 'two', 'three', 'four', 'five']

In [14]:
numbers[2:4]  # An arbitrary slice

['two', 'three']

In [15]:
numbers[2:]   # Everything from the third element onwards

['two', 'three', 'four', 'five']

In [16]:
numbers[:3]   # The first three elements

['zero', 'one', 'two']

Lists can be joined with the `+` operator.  For example:

In [17]:
['a', 'b'] + ['c', 'd']

['a', 'b', 'c', 'd']

Slicing notation is such that lists can be sliced and joined back together very naturally:

In [18]:
numbers[:2] + numbers[2:4] + numbers[4:]

['zero', 'one', 'two', 'three', 'four', 'five']

Let's put some of these things in practice

**Ex 0.8.1.  Rewrite your code for Collatz sequences to produce a list instead of printing the items in the sequence**

In Python, `range(n)` produces a list of numbers from `0` to `n-1`:

In [72]:
range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

This is mostly useful for looping a fixed number of times:

In [73]:
for i in range(10):
    print 'Happy!'

Happy!
Happy!
Happy!
Happy!
Happy!
Happy!
Happy!
Happy!
Happy!
Happy!

You can also start from a number different from 0 by using `range(start, stop)`, but beware that stop is exclusive:

In [78]:
range(1, 10)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

**Ex 0.8.2. Calculate the sum of the numbers from 1 to 10 using a `for` loop with `range`**

Python includes a number of useful functions that act on lists.  For instance, `sum(l)` will add up the items in `l`:

In [19]:
sum([1,2,3])

6

**Ex 0.8.3. Calculate the sum of the numbers from 1 to 10 using `sum` and `range`**

**Ex 0.8.4. How would you calculate the average of the value in the list?**

Now for something completely different: **list comprehensions**.  These are Python's concise way of using one list to build another one.

**Ex 0.8.5. First, without list comprehensions, build a list of squares from $1^2$ to $10^2$ using a `for` loop and `range`**

Simple list comprehensions have the following syntax:
```
newlist = [<expression involving <x>> for <x> in <list>]
```

Here's how you could build a list of squares using a list comprehension:

In [20]:
[i*i for i in range(1,10+1)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
[float(x) for x  in range(1,11)]

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]

You can add conditions to a list comprehension as follows:

In [81]:
[i for i in range(20) if (i % 3) == 0]  # Multiples of 3 below 20

[0, 3, 6, 9, 12, 15, 18]

**Ex 0.8.6. Using list comprehension, make a list of all divisors of a number `n`, e.g. for n = 6, the list would be [1,2,3,6]**

You can make more complicated list comprehensions with multiple loops and multiple conditions, but it quickly gets unreadable.  Stick to one loop or one loop with a condition.

---

# Lunch break here